# Python
__pycache__/
*.py[cod]
.Python
env/
venv/

# Data
data/raw/*.txt
data/processed/*.npy
mlruns/
models/saved/*.pth

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env

# IDEs
.vscode/
.idea/

# OS
.DS_Store
*.log