torch==2.10.0
numpy==1.26.4
pandas==2.2.2
scikit-learn==1.5.0
mlflow==3.10.0
onnx==1.17.0
onnxruntime==1.21.0
streamlit==1.43.2
plotly==5.22.0
onnxscript==0.2.1
dash==2.18.2
dash-bootstrap-components==1.6.0
fpdf2==2.8.2
kaleido==0.2.1